@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #121212;
  --primary: #f59e0b;
  --secondary: #6b7280;
  --accent: #f59e0b;
  --font-family: 'Montserrat', sans-serif;
}

[data-theme="light"] {
  --foreground: #ffffff;
  --background: #121212;
  --primary: #f59e0b; 
  --secondary: #6b7280;
  --accent: #f59e0b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
}

@layer base {
  html {
    font-family: var(--font-family);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Override to ensure dark gray background */
html, body {
  background-color: #121212;
  font-family: var(--font-family);
}
